<div class="container">
    <div class = "section">
        <h2>Projet TodoList :</h2>
    </div>
    <div class ="section">
      <h2>Contexte :</h2>
      <p>Le projet TodoList Manager est une initiative développée pour répondre aux besoins de gestion de tâches et de listes de tâches au sein d'une organisation. L'objectif principal est de créer une application web moderne et efficace qui permettra aux utilisateurs de créer, organiser et suivre leurs tâches de manière transparente. Le développement de cette application se fait en utilisant Angular pour le côté client et Spring Boot pour la création d'une API robuste côté serveur.</p> 
      
    </div>
    <div class="section">
      <h2>Description :</h2>
      <p>TodoList Manager est une application web de gestion de tâches permettant aux utilisateurs de créer des listes de tâches, d'ajouter des tâches à ces listes, de les marquer comme terminées et de les organiser selon leurs priorités. L'application est conçue avec une interface utilisateur conviviale et réactive grâce à Angular côté client, offrant ainsi une expérience utilisateur moderne et intuitive.</p>
    </div>
    <div class="section">
      <h2>Technologies utilisées :</h2>
      <p>Frameworks : Angular et Spring Boot.</p>
      <p>Langages : MySQL, HTML, CSS, TypeScript, Java.</p>
    </div>
    <div class="section">
      <h2>Liens du projet vers GitLab :</h2>
      <a href="https://github.com/YanJoe72/Todo-DM-Boidin-Yanis" target="_blank" class = "voir-plus">GitHub</a>
    </div>
    <br>
</div>