<footer class="footer">

  <div class="profile">
   
    <div class="centre">
      <p>Site réalisé par Boidin Yanis</p>
      <p>Avec le framework Angular.</p>
      <div class ="images">
        <a href="https://www.linkedin.com/in/yanis-boidin-777b042b4/"><img src="/src/assets/linkedin.png" alt="LinkedIn"></a> 
        <a href="https://gitlab.com/B.Yanis"><img src="/src/assets/gitlab.png" alt="GitLab"></a>
        <a href="https://github.com/YanJoe72?tab=projects"><img src="/src/assets/github.png" alt="GitHub"></a>
      </div>
      <p></p>
    </div>
  </div>
  </footer>
  