<br>
<app-detail-experience nom = "2024 - &#40;8 semaines&#41; Stage dans l'entreprise Cesnac" description="J'ai réalisé ce stage lors de ma deuxième année de mon BTS SIO" lien ="/cesnac"></app-detail-experience>
<app-detail-experience nom = "2023 - &#40;5 semaines&#41; Stage dans l'entreprise C-monetiquette" description="J'ai réalisé ce stage lors de ma première année de mon BTS SIO " lien = "/cmonetiquette"></app-detail-experience>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

