<br>
<app-detail-experience nom = "2024 - &#40;8 semaines&#41; Stage dans l'entreprise Cesnac" description="Création de deux applications qui ont pour but d'importer des fichiers XML dans une Base de données et la lecture de ces données en base." lien ="/cesnac"></app-detail-experience>
<app-detail-experience nom = "2023 - &#40;5 semaines&#41; Stage dans l'entreprise C-monetiquette" description="Création d'un script PHP permettant de faire du scrapping de données sur Google ads et Microsoft Bing puis de faire une mise en page automatique avec l'outil Power BI." lien = "/cmonetiquette"></app-detail-experience>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

