<br>
<app-detail-projet nom="YSport" description="Site internet permettant de réaliser avec les frameworks React+Vite et Spring Boot permettant de localiser des complexes sportifs sur une carte."  lien="/ysport-map"></app-detail-projet>
<app-detail-projet nom="BiblioSio" description="Site dynamique réalisé avec les frameworks Angular et Spring Boot permettant la gestion des emprunts et emprunteurs au sein d'une bibliothèque."  lien="/bibliosio"></app-detail-projet>
<app-detail-projet nom="Site dynamique" description="Site dynamique réalisait avec HTML/CSS et PHP avec une connexion à une base de données MySQL." lien="/siteDynamique"></app-detail-projet>
<app-detail-projet nom="Amphitrion" description="Application mobile réalisée avec les langages Java et PHP permettant la gestion en interne des tables des aliments d'un restaurant."  lien="/amphitrion"></app-detail-projet>
<app-detail-projet nom="Générateur SQL" description="Générateur SQL réalisé en C# permettant de convertir des fichiers textes en requête SQL du type Insert."  lien="/generateurSQL"></app-detail-projet>
<app-detail-projet nom="BioRelais" description="Un site dynamique réalisé en PHP permettant la gestion de produits pour un fermier."  lien="/bioRelais"></app-detail-projet>
<app-detail-projet nom="ToDoList" description="Création d'un site fournissant un système de ToDoList avec les frameworks Angular et Spring Boot." lien="/todoList"></app-detail-projet>
<app-detail-projet nom="Motus" description="Application reprenant le jeu Motus réaliser en C#." lien="/motus"></app-detail-projet>
<app-detail-projet nom="Ticketing" description="Une mise en situation de résolution de tickets réalisée sur une application en C#. Des demandes telles que de la correction de bug ou de l'ajout de nouvelles fonctionnalités sont présentes."  lien="/ticketing"></app-detail-projet>














<br>
<br>
<br>
<br>
<br>
<br>
<br>
