<br>

<app-detail-projet nom="Générateur SQL" description="Le but de ce projet était de réaliser un générateur SQL en C#."  lien="/generateurSQL"></app-detail-projet>
<app-detail-projet nom="Motus" description="Le but de ce projet était de réaliser un Motus en C#." lien="/motus"></app-detail-projet>
<app-detail-projet nom="Site dynamique" description="Le but de ce projet était de réaliser un site dynamique en PHP avec une connexion à une base de données mySQL." lien="/siteDynamique"></app-detail-projet>
<app-detail-projet nom="TodoList" description="Le but de ce projet était de réaliser un site TodoList avec les frameworks Angular et Spring Boot." lien="/todoList"></app-detail-projet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
