<br>

<app-detail-projet nom="Générateur SQL" description="Générateur SQL réalisé en C# permettant de convertir des fichiers textes en requête SQL du type Insert."  lien="/generateurSQL"></app-detail-projet>
<app-detail-projet nom="Motus" description="Application reprenant le jeu Motus réaliser en C#." lien="/motus"></app-detail-projet>
<app-detail-projet nom="Site dynamique" description="Site dynamique réalisait avec HTML/CSS et PHP avec une connexion à une base de données MySQL." lien="/siteDynamique"></app-detail-projet>
<app-detail-projet nom="ToDoList" description="Création d'un site fournissant un système de ToDoList avec les frameworks Angular et Spring Boot." lien="/todoList"></app-detail-projet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
