
<div class="container">

  <div class = "section">
    <h2>Projet Générateur SQL :</h2>
  </div>

  <div class ="section">
    <h2>Contexte :</h2>
    <p>Au cours de notre programme académique en informatique, nous avons été chargés de concevoir et de développer un générateur SQL en utilisant le langage de programmation C#. Ce projet visait à nous immerger dans le domaine de la manipulation de données relationnelles tout en nous permettant d'acquérir une expérience pratique dans le développement logiciel.</p> 
    
  </div>
  <div class="section">
    <h2>Aperçu :</h2>
    <img src="./assets/GenerateurSQL.png" alt="Photo GenerateurSQL">
  </div>
  <div class="section">
    <h2>Description :</h2>
    <p>Notre objectif principal était de créer un générateur SQL en C# qui prendrait en entrée des fichiers texte au format spécifique. Ces fichiers contenaient des données sous la forme : id;nom;prenom. Le générateur devait alors transformer ces données en requêtes SQL de type INSERT, facilitant ainsi l'insertion de ces données dans une base de données relationnelle.</p>
  </div>
  <div class="section">
    <h2>Liens du projet vers GitLab :</h2>
    <a href="https://gitlab.com/B.Yanis/generateursql" class = "voir-plus">GitLab</a>
  </div>
  <br>
</div>