<div class="container">
  <div class = "section">
    <h2>Stage dans l'entreprise Cesnac :</h2>
  </div>
    <div class = "section">
        <h2>Présentation de l'entreprise :</h2>
        <p>L’entreprise où  je réalise mon stage est la CESNAC (Centre d’Exploitation des Système de la Navigation Aérienne Centraux). Le Cesnac est une entité spécialisée dans la gestion et l’exploitation des systèmes de navigation aérienne centraux. Fondée en mars 2005, Cesnac s’est imposée comme un acteur majeur dans le domaine de la navigation aérienne en France. La mission principale de Cesnac est d’assurer la sécurité, l’efficacité et la régularité des mouvements aériens dans son espace de responsabilité. Cela inclut la surveillance, la gestion et l’optimisation des systèmes de navigation aérienne, ainsi que la coordination avec les autorités aéronautiques et les compagnies aériennes pour garantir des opérations aériennes fluides et sécurisées.</p>
    </div>
    <div class ="section">
      <h2>Contexte :</h2>
      <p>Lors de ce stage,  je travaillerai sur un seul projet. Pour une meilleure compréhension de ce projet, il est nécessaire d’expliquer le fonctionnement du système de traitement des plans de Vol.</p> 
      <p>Un plan de vol représente le trajet d’un avion et les données qui lui sont associées. Une compagnie aérienne va fournir ses plans de vols à un organisme du nom de EuroControle. Ce dernier va valider les plans de vol et les distribuer aux différents pays, ces derniers vont les distribuer à leurs différentes villes.</p>
      <p>Chaque pays possède un système apparu dans les années 50 nommé CAUTRA, ce système possède une branche STIP. Chaque pays a son propre STIP et le STIP se divise en STPV qui représente chaque ville </p>
      <p>La distribution se fait donc de Eurocontrol 	&#45;&#45;&#45;>  STIP (Pays) 	&#45;&#45;&#45;>  STPV (Villes)
        Le système CAUTRA est toujours utilisé dans l’aéroport où je réalise mon stage. Ce système gère donc les données liées aux plans de vol fournis à l’aéroport. Le but est de passer sur un nouveau système du nom de 4Flight ou Coflight.
        Chaque ville possède son système 4Flight et l’organise. Eurocontrol fournit directement les plans de vol aux villes par le système 4Flight. </p>
      <p>Le nouveau système n’étant pas encore actif dans l’aéroport de Mérignac, de très rares données ne sont pas prises en charge par l’ancien système. Le service où je réalise mon stage s’occupe donc de corriger le problème de ces données manuellement. </p>
      <p>Mon projet de stage a donc pour but de continuer un logiciel réalisé en langage Visual Basic sur Access. Le but de ce logiciel est d’extraire les différents fichiers ZIP contenant des logs en XML, puis d’importer les logs en XML dans une base de données.</p>
      
    </div>
    <div class="section">
      <h2>Missions :</h2>
      <p>L'objectif principal de ce stage consiste à poursuivre le développement de deux applications existantes tout en ajoutant de nouvelles fonctionnalités pour améliorer leur efficacité et leur convivialité. En tant que stagiaire, ma mission est de contribuer à l'évolution de ces applications en utilisant mes compétences en programmation, notamment en Visual Basic, ainsi qu'en exploitant les capacités de Microsoft Access comme système de gestion de base de données. Mon rôle implique d'analyser les besoins des utilisateurs, de concevoir et d'implémenter des solutions logicielles adaptées, tout en assurant la compatibilité avec les fonctionnalités existantes. En collaborant étroitement avec l'équipe de développement, je m'efforce de garantir que ces applications répondent aux exigences de l'entreprise et contribuent à son succès global.</p>
    </div>
    <div class="section">
      <h2>Technologies Utilisées :</h2>
      <p>Pendant ce stage, j'ai travaillé avec Visual Basic pour développer des applications. J'ai également utilisé Microsoft Access comme logiciel de base de données pour stocker et gérer les données nécessaires à mes applications.</p>
    </div>
    <div class="section">
      <h2>Aperçu :</h2>
      <p>Application noyau de données : </p>
      <img src="PortfolioBoidinYanis/src/assets/CesnacPhoto.png" alt="Photo Cesnac">
      <p>Application IHM : </p>
      <img src="PortfolioBoidinYanis/src/assets/CesnacApp.png" alt="Photo Cesnac2">
    </div>
    <br>
</div>