<div class="container">

    <div class = "section">
      <h2>Projet YSport :</h2>
    </div>
  
    <div class ="section">
      <h2>Contexte :</h2>
      <p>Au cours de notre programme académique en informatique, nous avons été chargés de concevoir et de développer une application web en utilisant les frameworks React et Spring Boot.</p> 
      
    </div>
    <div class="section">
      <h2>Aperçu :</h2>
      <img src="./assets/YSport.png" alt="Photo YSport">
    </div>
    <div class="section">
      <h2>Description :</h2>
      <p>Le but de ce projet est de réaliser un site web avec une carte interactive qui renseigne 28000 complexes sportifs. Les utilisateurs peuvent avoir des renseignements sur les complexes grâce à la map. S'il cherche un complexe en particulier, une option de filtrage a été mise en place.</p>
    </div>
    <div class="section">
        <h2>Technologies :</h2>
        <p>React+Vite pour le front et Spring Boot pour le back.</p>
      </div>
    <div class="section">
      <h2>Liens du projet vers GitHub :</h2>
      <a href="https://github.com/YanJoe72/YSport" target="_blank" class = "voir-plus">GitHub</a>
    </div>
    <br>
  </div>