<div class="container">
    <div class = "section">
        <h2>Projet Motus :</h2>
    </div>
    <div class ="section">
      <h2>Contexte :</h2>
      <p> Le projet consiste en la création d'une version du jeu Motus en utilisant le langage C#. Contrairement à une approche orientée objet, où les données et les fonctionnalités sont encapsulées dans des objets, ce projet utilise probablement une approche procédurale ou fonctionnelle, où les opérations sont réalisées de manière séquentielle et basées sur des fonctions ou des procédures.</p> 
      
    </div>
    <div class="section">
      <h2>Aperçu :</h2>
      <img src="./assets/Motus.png" alt="Photo Motus">
    </div>
    <div class="section">
      <h2>Description :</h2>
      <p>Le projet consiste en la création d'une version du jeu Motus en utilisant le langage C#. Le programme récupère un fichier contenant une liste de mots, puis en choisit un au hasard comme mot mystère. L'utilisateur est ensuite invité à proposer des mots de la même longueur que le mot mystère.</p>
      <p>Génération de mots : Le jeu utilise un fichier de mots pour sélectionner un mot mystère aléatoire.</p>
      <p>Interface utilisateur : Le jeu offre une interface utilisateur conviviale où les utilisateurs peuvent saisir leurs propositions de mots.</p>
      <p>Comparaison de lettres : Le programme compare les lettres du mot proposé par l'utilisateur avec celles du mot mystère.</p>
      <p>Indications visuelles : Les lettres sont colorées pour indiquer si elles sont correctes (en vert et à la bonne place), incorrectes (en rouge) ou correctes mais mal placées (en orange).</p>
      <p></p>
    </div>
    <div class="section">
      <h2>Liens du projet vers GitLab :*</h2>
      <a href="https://gitlab.com/B.Yanis/motus" target="_blank" class = "voir-plus">GitLab</a>
    </div>
    <br>
</div>