
<div class="container">

    <div class = "section">
      <h2>Langages informatiques :</h2>
      <p>C#, Java, PHP, SQL, HTML5, CSS, Python, JavaScript et Visual Basic.</p>
    </div>

    <div class = "section">
        <h2>FrameWorks :</h2>
        <p>Angular et Spring Boot.</p>
      </div>
  
    <div class ="section">
      <h2>Bases de données et modélisation :</h2>
      <p>Modèle relationnel, SGBD : Access, MySQL, UML.</p> 
      
    </div>
    <div class="section">
      <h2>Cybersécurité :</h2>
      <p>RGPD et Sécurisation d’un site Web.
      </p>
    </div>
    <div class="section">
      <h2>Méthodologie de projet :</h2>
      <p>Travail collaboratif (Trello, Google
        Docs, GitLab).</p>
    </div>
    <div class="section">
      <h2>Soft Skills :</h2>
      <ul>
        <li>Communication.</li>
        <li>Résolution de problèmes.</li>
        <li>Travail d'équipe.</li>
        <li>Gestion du temps.</li>
        <li>Écoute active.</li>
      </ul>
    </div>
    <br>
  </div>