<div class="header">
  <div class="logo">
    <!-- Insérez votre image ici -->
    
  </div>
  <div class="title">
    <h1>Bienvenue sur mon portfolio</h1>
  </div>
  <div class = "container red topBotomBordersOut">
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="#" routerLink="/accueil">Accueil</a></li>

      <li class="dropdown">
        <a href="#" routerLink="/projets">Projets</a>
      </li>
      <li class="dropdown">
        <a href="#" routerLink="/experiences">Expériences</a>
      </li>
      <li class = "dropdown">
        <a href="#" routerLink="/competences">Compétences</a>
      </li>
    </ul>
  </nav>
</div>

  
