<div class="container">

    <div class = "section">
      <h2>Projet Ticketing :</h2>
    </div>
  
    <div class ="section">
      <h2>Contexte :</h2>
      <p>Pour ce projet une application a été fournit, notre équipe devait réaliser des modifications et ajouts. Ces demandes d'ajouts et de modifications étaient demandé sous forme de ticket.</p> 
      
    </div>
    <div class="section">
      <h2>Aperçu :</h2>
      <img src="./assets/Ticketing.png" alt="Photo GenerateurSQL">
    </div>
    <div class="section">
      <h2>Technologies :</h2>
      <p>Application mobile en c#</p>
    </div>
    <br>
  </div>