
    <div class="container">
      <div class="profile">
        <div class="profile-image">
          <img src="./assets/photo.jpg" alt="Photo de profil">
        </div>
        <div class="profile-details">
          <h1>Yanis Boidin</h1>
          <p><B>Développeur Web full stack</B></p>
          <p><B>Mes Réseaux :</B></p>
          <a href = 'https://www.linkedin.com/in/yanis-boidin-777b042b4/' target="_blank" class = "reseaux">Linkedin </a>
          <a href = 'https://github.com/YanJoe72?tab=projects' target="_blank" class = "reseaux">GitHub </a>
          <a href = 'https://gitlab.com/B.Yanis' target="_blank" class = "reseaux">GitLab </a>
        </div>

      </div>
      <div class ="section">
        <h2>À propos de moi :</h2>
        <p>Je suis un passionné de développement web à la recherche d'une alternance pour un Bachelor 3 à Ynov Campus, avec un rythme de 2 semaines en entreprise et 1 semaine à l'école, pour la rentrée de 2024.</p> 
        <p>Titulaire d'un BTS Services Informatiques aux Organisations (SIO) option Solutions Logicielles et Applications Métiers (SLAM) obtenu au lycée Gustave Eiffel, je suis animé par une forte motivation à devenir développeur full stack. Mon parcours m'a permis d'acquérir des compétences solides en développement informatique, ainsi qu'en conception et en gestion de projets.</p> 
        <p>Mon ambition est de maîtriser tous les aspects du développement web, tant côté front-end que back-end, afin de concevoir des applications web performantes et innovantes. Je suis convaincu que la polyvalence d'un développeur full stack est un atout majeur dans un monde numérique en constante évolution, et je suis déterminé à relever ce défi.</p> 
        <p>Mon portfolio en ligne présente en détail les différents projets sur lesquels j'ai travaillé. Je vous invite à le consulter pour découvrir mes réalisations et en apprendre davantage sur mon parcours professionnel.</p> 
        <p>Motivé, autonome et capable de m'adapter rapidement à de nouveaux environnements de travail, je suis convaincu que l'alternance est une opportunité idéale pour continuer à apprendre et à progresser dans le domaine du développement informatique tout en acquérant une expérience professionnelle concrète.</p> 
        <p>N'hésitez pas à explorer mon site portfolio pour découvrir mes projets. Je serais ravi de discuter de ma candidature et de mes motivations lors d'un entretien. Vous pouvez me contacter via e-mail à yanisboidin&#64;laposte.net ou Linkedin.</p>   
      </div>
      <div class="section">
        <h2>Me contacter :</h2>
        <p><B>Email :</B> yanisboidin&#64;laposte.net</p>
        <p><B>Email Ynov :</B> yanis.boidin&#64;ynov.com</p>
      </div>
      
      <div class="section">
        <h2>CV :</h2>
          <a href="./assets/CV_Boidin_Yanis.pdf" download="CV_Boidin_Yanis.pdf" class = "voir-plus">Télécharger le CV</a>
      </div>
    </div>
