<div class="container">
    <div class = "section">
        <h2>Projet site dynamique M2L :</h2>
    </div>
    <div class ="section">
      <h2>Contexte :</h2>
      <p>Dans le cadre de la Maison des Ligues des Sports (M2L), il est envisagé de créer une plateforme en ligne pour favoriser l'interaction et la communication entre ses membres, tout en permettant un accès différencié selon les rôles et les responsabilités de chacun. L'objectif est de développer un site web sécurisé qui permettra aux salariés, bénévoles, secrétaires et aux ligues sportives affiliées de se connecter et d'accéder à des fonctionnalités spécifiques en fonction de leurs besoins.</p> 
      
    </div>
    <div class="section">
      <h2>Aperçu :</h2>
      <img src="PortfolioBoidinYanis/src/assets/M2L.png" alt="Photo M2L">
    </div>
    <div class="section">
      <h2>Description :</h2>
      <p>La plateforme communautaire de la M2L est un site web interactif conçu pour répondre aux besoins diversifiés des membres de la maison des ligues. Elle offre un accès différencié en fonction des types d'utilisateurs, avec des fonctionnalités spécifiques adaptées à chaque profil. Les fonctionnalités principales incluent la gestion des utilisateurs, l'accès sécurisé aux fiches de paie pour les salariés, la possibilité de s'enregistrer à des événements pour les ligues, etc.</p>
    </div>

    <div class="section">
      <h2>Technologies utilisées :</h2>
      <p>PHP, MySQL, HTML, CSS.</p>
    </div>
    <div class="section">
      <h2>Liens du projet vers GitLab :</h2>
      <a href="https://gitlab.com/B.Yanis/m2l-site-dynamique" class = "voir-plus">GitLab</a>
    </div>
    <br>
</div>